*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
Makefile
*.Plo
*.Po
src/dsclim
tests/test_mean_variance_dist_clusters
tests/test_mean_variance_temperature
tests/test_proj_eof
tests/testbestclassif
tests/testbestclassif_realdata
tests/testcalendar
tests/testcalendar_val
tests/testclassif
tests/testfilter
tests/testfilter_cor
tests/testrandomu
tests/testregress
tests/testudunits
